@use '../../../style/variables' as var;

.mfk-text {
  &--title {
    font-size: var.$fontTitle;
    font-weight: var.$fontBold;
  }
  &--subtitle {
    font-size: var.$fontSubtitle;
  }
  &--body {
    font-size: var.$fontBody;
  }
  &--caption {
    font-size: var.$fontBody;
    font-weight: var.$fontBold;
  }
}