@use '../../../style/variables' as var;

.mfk-text {
  &--title {
    font-size: var.$fontTitle;
    font-weight: var.$fontBold2;
  }
  &--subtitle1 {
    font-size: var.$fontSubtitle1;
    font-weight: var.$fontBold;
  }
  &--subtitle2 {
    font-size: var.$fontSubtitle2;
  }
  &--body {
    font-size: var.$fontBody;
  }
  &--caption {
    font-size: var.$fontBody;
    font-weight: var.$fontBold;
  }
}