@use '../../../style/variables' as var;

.mfk-image3D-wrapper {
  .Viewport {
    height: 100vh;
  }
  .View3dContent {
    position: fixed;
    top: 40px;
    right: 0;
    height: calc(100% - 40px);
    width: 100%;
    max-width: 380px;
    background-color: rgba(255, 255, 255, .7);
    z-index: 2;
    .header {
      background-color: transparent;
      .storyTitle {
        font-size: var.$fontSubtitle1;
        font-weight: bold;
        text-align: center;
        color: #000;
      }
      button {
        border: none;
        color: transparent;
        font-size: 20px;
        opacity: 0.7;
        &:hover {
          opacity: 1;
        }
        &:first-of-type {
          background: url('./assets/left-arrow.svg') no-repeat center/cover;
        }
        &:last-of-type {
          background: url('./assets/right-arrow.svg') no-repeat center/cover;
        }
        
      }
    }
    section {
      color: #000;
      img {
        max-width: 100%;
        margin: var.$spacing * 2.5 auto ;
      }
    }
    .title {
      font-size: 20px;
      font-weight: bold;
      border: none;
      margin-bottom: var.$spacing * 2.5;
      & + p {
        font-size: var.$fontBody;
      }
    }
    .chaptersNav {
      background-color: transparent;
      button {   
        width: 30px;
        height: 30px; 
        border: none;
        color: transparent;   
        font-size: 0;
        border-radius: 50%;
        box-shadow: #000 0px 0px 7px;
        opacity: 0.7;
        &:hover {
          opacity: 1;
        }
        &:nth-of-type(1){
          background: url('./assets/brain.svg') no-repeat center/80%;
          background-color: #fff;
        }
        &:nth-of-type(2) {
          background: url('./assets/settings.svg') no-repeat center/80%;
          background-color: #fff;
        }
        &:nth-of-type(3) {
          background: url('./assets/phone.svg') no-repeat center/70%;
          background-color: #fff;
        }
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }

  .Controls.mainControls {
    top: 50px;
    bottom: unset;
    left: 20px;
    right: unset;
    button {
      width: 30px;
      height: 30px;
      border: none;
      color: transparent;
      font-size: 0;
      padding: 0;
      border-radius: 25%;
      &:hover {
        transform: scale(1);
      }
      &:not(:last-child) {
        margin-right: var.$spacing * 2.5;
      }
      &:nth-child(1) {
        display: none;
      }
      &:nth-child(2) {
        background: url('./assets/audio.svg') no-repeat center/60%;
        background-color: rgba(255,255,255, 0.9);
      }
      &:nth-child(3) {
        background: url('./assets/eye.svg') no-repeat center/60%;
        background-color: rgba(255,255,255, 0.9);
      }
      &:last-child {
        background: url('./assets/restart.svg') no-repeat center/60%;
        background-color: rgba(255,255,255, 0.9);
      }
    }
  }

  
  @media screen and (max-width: var.$mobile) {
    .View3dContent {
      top: unset;
      bottom: 0;
      left: 20px;
      height: 200px;
      max-width: calc(100% - 40px);
      background-color: #fff;
      padding: 10px 10px 0;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      section {
        .title {
          & + p {
            height: 30px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }
      }
    }
  }
}

.mfk-image3D--full {
  @media screen and (max-width: var.$mobile) {
    .mfk-modal--title {
      display: none;
    }
    .View3dContent {
      top: 0;
      left: 0;
      height: 100%;
      max-width: 100%;
      background-color: rgba(255, 255, 255, 0.9);
      .header {
        button {
          display: none;
        }
      }
      section {
        .title {
          & + p {
            height: auto;
            -webkit-line-clamp: unset;
          }
        }
      }
      .chaptersNav {
        display: none;
      }
    }
  }
}