@use '../../../style/variables' as var;

.mfk-card-wrapper {
  width: 100%;
  max-width: 400px;
  cursor: pointer;
  &.mfk-type-text {
    .mfk-card-title {
      padding-right: var.$spacing * 2.5;
    }
  }
  &.mfk-type-img {
    padding-top: var.$spacing * 2.5;
  }
}

.mfk-card--content {
  display: flex;
  justify-content: space-between;
  margin: 0 var.$spacing * 5;
}

.mfk-card-title {
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: var.$spacing;
  overflow: hidden;
}

.mfk-card--description {
  margin-top: var.$spacing;
  font-weight: var.$fontLight;
  &.mfk-hide--description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }
  &-img {
    height: 200px;
    margin-top: var.$spacing * 2.5;
    border: 1px solid var.$grayLight;
    border-radius: 16px;
  }
}

@media screen and (max-width: var.$mobile) {
  .mfk-card-wrapper {
    max-width: 100%;
  }
}