@use '../style/variables' as var;

body {
  margin: 0;
  font-family: 'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var.$primary;
}

.mfk-first-visit {
  .mfk-header {
    background-color: transparent;
  }
  .mfk-landing {
    height: 100vh;
    padding: var.$headerHeight + (var.$spacing * 5) var.$spacing * 5 0;
  }
  .mfk-timeline--header,
  .mfk-wrapper {
    display: none;
  }
}

.mfk-timeline--header {
  padding: var.$headerHeight + (var.$spacing * 5) var.$spacing * 5 0;
  text-align: center;
  p {
    &:first-child {
      margin-bottom: var.$spacing * 2.5;
    }
  }
}