@use '../style/variables' as var;
@use 'sass:math';

$marker-small: 16px;

%timeline {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
}

.mfk-wrapper {
  height: 100%;
  padding: var.$spacing * 5;
  overflow: hidden;
}

.mfk-timeline--container {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  padding-top: var.$spacing * 2.5;
  &:before {
    @extend %timeline;
    height: 100%;
    background: var.$gray;
    z-index: 1
  }
}

.mfk-timeline--block {
  display: flex;
  position: relative;
  width: calc(50% + math.div($marker-small, 2));
  clear: both;
  &:first-child {
    .mfk-timeline--marker {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: calc(-100% - 1px);
        left: calc(50% - 2px);
        height: 11px;
        width: 4px;
        background-color: #ffffff;
      }
    }
  }
  &:not(:last-child) {
    margin-bottom: var.$spacing * 10;
  }
  &-right {
    float: right;
    .mfk-timeline--date {
      left: -40px;
    }
    .mfk-card-wrapper {
      margin-left: -8px;
    }
  }
  &-left {
    float: left;
    direction: rtl;
    .mfk-timeline--date {
      right: -40px;
    }
    .mfk-card-wrapper {
      margin-right: -8px;
    }
  }
  &:hover {
    .mfk-timeline--marker {
      transform: scale(1.3);
    }
  }
}

.mfk-timeline--date {
  position: absolute;
  color: var.$gray;
  &-light {
    top: 0;
  }
  &-dark {
    top: 10px;
  }
}

.mfk-timeline--marker {
  width: $marker-small;
  height: $marker-small;
  border-radius: 50%;
  z-index: 9999;
  &-dark {
    border: 2px solid #ffffff;
    background: var.$gray;
    margin-top: 10px;
  }
  &-light {
    border: 2px solid var.$gray;
    background: #ffffff;
  }
}

@media screen and (max-width: var.$mobile) {
  .mfk-wrapper {
    padding-left: var.$spacing * 15;
  }
  .mfk-timeline {
    &--container {
      overflow: visible;
      &:before {
        left: math.div($marker-small, 2);
     }
    }
    &--block {
      width: 100%;
      &-right {
        float: none;
      }
      &-left {
        float: none;
        direction: ltr;
        .mfk-timeline--date {
          left: -40px;
        }
        .mfk-card-wrapper {
          margin-left: -8px;
          margin-right: 0;
        }
      }
   }
  }
}

