@use '../style/variables' as var;

body {
  margin: 0;
  font-family: 'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var.$primary;
}

.mfk-first-visit {
  .mfk-header {
    background-color: transparent;
  }
  .mfk-landing {
    height: 100vh;
    margin-top: 0;
    padding: var.$headerHeight + (var.$spacing * 5) var.$spacing * 5 0;
  }
  .mfk-timeline--header,
  .mfk-wrapper {
    display: none;
  }
}

.mfk-landing {
  height: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  //TODO: Need to replace with new bg image or new color
  background-color: tomato;
  padding: 0;
  color: #ffffff;
  transition: height 1s;
  &--btn {
    display: flex;
    font-size: 200px;
    cursor: pointer;
    opacity: .6;
    transform: translate(0px, 0px);
    animation: MoveUpDown 1s linear infinite;
    @media screen and (max-width: var.$mobile) {
      font-size: 120px;
    }
  }
}

@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

.mfk-timeline--header {
  padding: var.$headerHeight + (var.$spacing * 5) var.$spacing * 5 0;
  text-align: center;
  p {
    &:first-child {
      margin-bottom: var.$spacing * 2.5;
    }
  }
}