@import '../style/variables';

$marker-small: 16px;

%timeline {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
}

.mfk-wrapper {
  height: 100%;
  padding: 20px;
}

.mfk-timeline--container {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  &:before {
    @extend %timeline;
    height: 100%;
    background: $gray;
    z-index: 1
  }
}

.mfk-timeline--block {
  position: relative;
  width: calc(50% + #{$marker-small / 2});
  clear: both;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  &-right {
    float: right;
  }
  &-left {
    float: left;
    direction: rtl
  }
}

.mfk-timeline--item {
  width: 100%;
  display: flex;
  &:hover {
    .mfk-timeline--marker {
      transform: scale(1.3);
    }
  }
}

.mfk-timeline--marker {
  width: $marker-small;
  height: $marker-small;
  border-radius: 50%;
  border: 2px solid #F5F7FA;
  background: $gray;
  z-index: 9999;
}

@media screen and (max-width: $mobile) {
  .mfk-wrapper {
    padding-left: 60px;
  }
  .mfk-timeline {
    &--container {
      overflow: visible;
      &:before {
        left: $marker-small / 2;
        width: 2px;
     }
    }
    &--block {
      width: 100%;
      &-right {
        float: none;
      }
      &-left {
        float: none;
        direction: ltr;
      }
   }
   &--content {
     margin-top: -4px;
   }
   &--date {
     position: absolute;
     top: 10px;
     left: -40px;
     color: $gray;
   }
  }
}

