//Breakpoints
$mobile: 768px;

//Fonts
$fontTitle: 24px;
$fontSubtitle: 16px;
$fontBody: 12px;
$fontBold: 700;

//Colors
$gray: #565656;
$grayLight: #E7E7E7;
$blue: #0B4395;
$blueLight: #416CAC;

//Spacing
$spacing: 4px;

//Additional
$borderRadius: 34px;