//Breakpoints
$mobile: 768px;

//Fonts
$fontTitle: 24px;
$fontSubtitle1: 16px;
$fontSubtitle2: 14px;
$fontBody: 12px;

$fontLight: 300;
$fontBold: 700;
$fontBold2: 900;

//Colors
$gray: #565656;
$grayLight: #E7E7E7;
$primary: #4D4D51;

//Spacing
$spacing: 4px;

//Additional
$headerHeight: 50px;
$animationDuration: 1.5s;
$primaryBgGradient: linear-gradient(-45deg, #4D4D51, #4D4D51, #122d55, #052556);