@use '../../../style/variables' as var;

.mfk-header {
  background-color: var.$blue;
  color: #ffffff;
  border-bottom-left-radius: var.$borderRadius;
  border-bottom-right-radius: var.$borderRadius;
  &--content {
    padding: 0 var.$spacing * 5 var.$spacing * 2.5;
    text-align: center;
    p {
      padding-bottom: var.$spacing * 2.5;
    }
  }
}