@use '../../../style/variables' as var;


.mfk-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var.$headerHeight;
  background-color: var.$primary;
  color: #ffffff;
  padding: 0 var.$spacing * 5;
  transition: background-color 1s ease-out;
  &--logo {
    height: 30px;
  }
  &--menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-item {
      &:not(:last-child) {
        margin-right: 10px;
      }
      cursor: pointer;
      &.mfk-menu--active {
        p {
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
  }
}

//hide dropdown on desktop
.mfk-select {
  display: none;
}

@media screen and (max-width: var.$mobile) {
  .mfk-header {
    &--menu-item {
      display: none;
    }
  }
  .mfk-select {
    display: flex;
  }
}