@use '../../../style/variables' as var;

.mfk-header {
  background-color: var.$blue;
  color: #ffffff;
  border-bottom-left-radius: var.$borderRadius;
  border-bottom-right-radius: var.$borderRadius;
  padding: var.$spacing * 2.5 var.$spacing * 5;
  &--content {
    text-align: center;
    p {
      padding-bottom: var.$spacing * 2.5;
    }
  }
  &--menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: var.$spacing * 2.5;
    &-item {
      &:not(:last-child) {
        margin-right: 10px;
      }
      cursor: pointer;
      &.mfk-menu--active {
        p {
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
  }
}

//hide dropdown on desktop
.mfk-select {
  display: none;
}

@media screen and (max-width: var.$mobile) {
  .mfk-header--menu-item {
    display: none;
  }
  .mfk-select {
    display: flex;
  }
}