@use '../../../style/variables' as var;

$titleHeight: 40px;

.mfk-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255,255,255, 1);
  z-index: 9999;

  &--back {
    display: flex;
    align-items: self-end;
    cursor: pointer;
    p {
      margin-left: 10px;
    }
  }

  &--content {
    position: relative;
    height: 100%;
    width: 100%;
    background: transparent;
    overflow: hidden;
  }

  &--title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: $titleHeight;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    padding: 0 var.$spacing * 5;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    z-index: 1;
  }

  &--close {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $titleHeight;
    width: $titleHeight;
  }

  &--settings {
    position: absolute;
    top: $titleHeight + 10px;
    left: 0;
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 0 10px 10px 0;
    box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.3);
    z-index: 1;
    &-item {
      display: flex;
      font-size: 20px;
    }
  }
}