@use '../../../style/variables' as var;

$titleHeight: 40px;

.mfk-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255,255,255, 1);
  z-index: 9999;

  &--back {
    display: flex;
    align-items: self-end;
    cursor: pointer;
    p {
      margin-left: 10px;
    }
  }

  &--content {
    position: relative;
    height: 100%;
    width: 100%;
    background: transparent;
    overflow: hidden;
  }

  &--title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: $titleHeight;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    padding: 0 var.$spacing * 5;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    z-index: 1;
  }

  &--close {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $titleHeight;
    width: $titleHeight;
    cursor: pointer;
  }
}

// Additional styling for toggle description
.mfk-modal--description-toggle {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 178px;
  cursor: pointer;
  z-index: 2;
  @media screen and (max-width: var.$mobile) {
    display: block;
  }
}
.mfk-modal--content {
  &.mfk-toggle--content {
    .mfk-modal--description-toggle {
      bottom: -2px;
    }
    .View3dContent {
      height: 20px;
    }
    .mfk-modal--show-full {
      display: none;
    }
  }
}

// Additional styling for show/hide full screen
.mfk-modal--show-full {
  display: none;
  position: absolute;
  bottom: 70px;
  right: 50px;
  background-color: #fff;
  padding: 0 5px;
  font-size: var.$fontBody;
  font-weight: var.$fontBold;
  color: var.$primaryBgGradient;
  cursor: pointer;
  z-index: 2;
  @media screen and (max-width: var.$mobile) {
    display: block;
  }
  &:before {
    content: '...';
  } 
}
.mfk-modal--hide-full {
  display: none;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 25px;
  cursor: pointer;
  z-index: 2;
}

.mfk-image3D--full {
  .mfk-modal--show-full,
  .mfk-modal--description-toggle {
    display: none;
  }
  .mfk-modal--hide-full {
    display: block;
  }
}